.not-found {
    background: url(../../public/assets/technology/background-technology-desktop.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding: 176px 0 0 0;
    text-align: center;
    width: 100%;

    .content {
        background: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px 0 rgb(14 30 37 / 16%);
        color: rgb(14, 30, 37);
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 364px;
        padding: 24px;
        position: relative;
        width: 75%;

        .heading {
            margin-bottom: 15px;
        }
        .description {
            margin-bottom: 10px;
        }
        .home-link {
            color: red;
            font-weight: 600;
        }
        .home-link:hover {
            text-decoration: none;
        }
    }
}
